<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/aboutstyle.css" />
    <title>Craft-Brew</title>
  </head>

  <body>
    <!-- hecomienza header -->

    <%- include('./partials/navbar')%>
    <!-- fin de header-->
    <main>
      <div class="carousel">
        <div class="viewport">
          <div class="slide-container">
            <div class="slide-3"></div>
          </div>
          <div class="slide-container">
            <div class="slide-2"></div>
          </div>
          <div class="slide-container">
            <div class="slide-1"></div>
          </div>
        </div>
      </div>
      <div class="carousel-text">
        <h1>ABOUT US</h1>
      </div>
    </main>

    <section class="about-text">
      <h1 class="heading"><span>How We</span> Started</h1>

      <div class="row">
        <div class="content-image">
            <img src="../images/about-img2.jpg" height="100%" width="100%">
        </div>

        <div class="content">
            <h2>Every story has a beginning</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit laudantium officiis suscipit quas. Placeat vel tempore
            minus atque? Officia debitis excepturi odit fuga numquam vero,
            assumenda delectus error eveniet, asperiores, qui ut doloremque
            recusandae placeat consectetur velit maiores magnam. Soluta dolorum
            laudantium hic odio incidunt reiciendis ullam, officiis maxime
            aliquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Voluptati bus qui ea ullam, enim tempora ipsum fuga alias quae
            ratione a officiis id temporibus autem? Quod nemo facilis
            cupiditate. Ex, vel?
          </p>
          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </section>

    <section class="about-cicle">
      <h1 class="heading"><span>How It's</span> Made</h1>

      <div class="row">

        <div class="box-container">
          <div class="box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
              nulla sit libero nemo fuga sequi nobis? Necessitatibus aut
              laborum, nisi quas eaque laudantium consequuntur iste ex aliquam
              minus vel? Nemo.
            </p>
          </div>
          
          <div class="box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
              nulla sit libero nemo fuga sequi nobis? Necessitatibus aut
              laborum, nisi quas eaque laudantium consequuntur iste ex aliquam
              minus vel? Nemo.
            </p>
          </div>

          <div class="box">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi
                nulla sit libero nemo fuga sequi nobis? Necessitatibus aut
                laborum, nisi quas eaque laudantium consequuntur iste ex aliquam
                minus vel? Nemo.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- fcomienza footer  -->

    <%- include('./partials/footer') %>

    <!-- acaba footer -->
    <script src="../js/script.js"></script>
  </body>
</html>
