<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/aboutstyle.css" />
    <title>Craft-Brew</title>
  </head>

  <body>
    <!-- hecomienza header -->

    <header class="header">
      <a href="/" class="logo">
        <img src="../images/logo.jpg" alt="" />
      </a>

      <nav class="navbar">
        <a href="/">home</a>
        <a href="#about">about</a>
        <a href="products">beers</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
      </nav>

      <div class="icons">
        <button class="fas fa-search-plus" id="search-btn"></button>
        <button class="fas fa-shopping-cart" id="cart-btn"></button>
        <button class="fas fa-bars" id="menu-btn"></button>
      </div>

      <div class="search-form">
        <input type="search" id="search-box" placeholder="search here..." />
        <label for="search-box" class="fas fa-search"></label>
      </div>

      <div class="cart-items-container">
        <div class="cart-item">
          <span class="fas fa-times"></span>
          <img src="../images/cart-item1.jpg" alt="" />
          <div class="content">
            <h3>5 de Mayo Saga</h3>
            <div class="price">$56.00</div>
          </div>
          
        </div>
        <div class="cart-item">
          <span class="fas fa-times"></span>
          <img src="../images/cart-item2.jpg" alt="" />
          <div class="content">
            <h3>Calavera Mexican Imperial Stout</h3>
            <div class="price">$59.00</div>
          </div>
        </div>
        <div class="cart-item">
          <span class="fas fa-times"></span>
          <img src="../images/cart-item3.jpg" alt="" />
          <div class="content">
            <h3>Falling Piano Esa de Rojo</h3>
            <div class="price">$92.00</div>
          </div>
        </div>
        <div class="cart-item">
          <span class="fas fa-times"></span>
          <img src="../images/cart-item4.jpg" alt="" />
          <div class="content">
            <h3>Tempus Doble Malta</h3>
            <div class="price">$40.00</div>
          </div>
        </div>
        <a href="#" class="btn">Checkout</a>
      </div>
    </header>
    <!-- fin de header-->
    <main>
        <div class="carousel">
            <div class="viewport">
                <div class="slide-container">
                  <div class="slide-3">
                  </div>
                </div>
                <div class="slide-container">
                  <div class="slide-2">
                  </div>
                </div>
                <div class="slide-container">
                  <div class="slide-1">
                  </div>
                </div>
            </div>
        </div>
        <div class="carousel-text">
            <h1>ABOUT US</h1>
        </div>
    </main>


    <!-- fcomienza footer  -->

    <section class="footer">
      <div class="links">
        <a href="/">home</a>
        <a href="about">about</a>
        <a href="products">beers</a>
        <a href="#">review</a>
        <a href="#">contact</a>
      </div>

      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
    </section>

    <!-- acaba footer -->
    <script src="../js/script.js"></script>


  </body>
</html>
